src/main/resources/xsd/TEJDCDSection5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TEJDCDEnteteDeclaration.xsd"/>
	<xs:element name="section5">
		<xs:annotation>
			<xs:documentation>Déclaration des sociétés émettrices de valeurs mobilières ou des intermédiaires agréés autorisés des valeurs mobilières, négociées et déposées auprès des sociétés
				émettrices de valeurs mobilières.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VersionDocument" type="T_VersionDoc" minOccurs="1"/>
				<xs:element name="Entete" type="T_Entete" minOccurs="1"/>
				<xs:element name="ListeComptes">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="Compte">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NumOrdre" type="T_ChaineNonVide" minOccurs="1"/>
										<xs:element name="leCompte" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NumCompte" type="T_AlphaNum" minOccurs="0"/>
													<xs:element name="TypeCompte" type="T_TypeCompteVM5" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="IdentiteProprietaireCompte" minOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NomPrenomRS" type="T_ChaineTexte250" minOccurs="1"/>
													<xs:element name="TypeIdent" type="T_TypeIdent" minOccurs="0"/>
													<xs:element name="LibelleCodType" type="xs:string" minOccurs="0"/>
													<xs:element name="NumIdent" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>NumIdent doit être non vide si TypeIdent = '6'</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="DateNaissance" type="T_DateJJMMAAAA" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ObligationInfoPub" minOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DateInformationTitulaire" type="T_DateJJMMAAAA" minOccurs="0"/>
													<xs:element name="DatePublicationJO" type="T_DateJJMMAAAA" minOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PrescriptionCompte" minOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DateDerniereOperation" type="T_DateJJMMAAAA" minOccurs="0"/>
													<xs:element name="DatePrescriptionCompte" type="T_DateJJMMAAAA" minOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PortfeuilleValMobilieres" minOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ValeurMobiliere" type="T_ValMob" minOccurs="1"/>
													<xs:element name="AutreValeurMobiliere" type="T_ChaineNonVide" minOccurs="0">
														<xs:annotation>
															<xs:documentation>AutreValeurMobiliere doit exister et être non vide si ValeurMobiliere = '10'</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Nombre" type="xs:positiveInteger" minOccurs="1"/>
													<xs:element name="DateTransfert" type="T_DateJJMMAAAA" minOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TypeActionDepot" type="T_TypeAction" minOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DetailsDevise" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NombreValeurMob" type="xs:positiveInteger" minOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>